#outer{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-gap: 10px;
}

.cells{
    background-color: pink;
}

.header{
    grid-column-start: 1;
    grid-column-end: 13;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 12;
}

.navigation {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.ads {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12;
}

.main {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 12;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 13;
}

@media (max-width: 720px){
    .sidebar{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 12;
    }
    
    .navigation {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .ads {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 13;
    }
    
    .main {
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 12;
    }
    
    .footer {
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 13;
    }
}