body{
    margin: 20px;
}

.chatbox{
    display: inline-block;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 16px;
    margin: 20px;
}

.Msg-text{
    background-color: green;
    color: aliceblue;
}